#tbservers {
  background: url($tbservers);
  background-size: contain;
  background-repeat:no-repeat;
  width:220px;
  height:141px;
  position:fixed;
  bottom:-11px;
  right:5px;
  z-index:99999;
  opacity:0;
}
#tbservers:hover {
  background-image: url($tbservershover);
}

#vs-dark-ui .ui-dialog {
  z-index:999999;
}

#{$bodyId} .ui-widget-overlay {
  background-color: $vsblue-darkest;
  opacity: .6;
}

//@extend-elements
//original selectors
//sub, sup
%extend_1 {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

//original selectors
//button, input, optgroup, select, textarea
%extend_2 {
	color: inherit;
	font: inherit;
	margin: 0;
}

//original selectors
//input[type="checkbox"], input[type="radio"]
%extend_3 {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
	display: inline;
}

//original selectors
//em, i
%extend_4 {
	font-style: italic;
	line-height: inherit;
	font-family: $font_2, $font_0;
	font-weight: 300;
}

//original selectors
//strong, b
%extend_5 {
	line-height: inherit;
	font-family: $font_2, $font_0;
	font-weight: 700;
}


html {
	font-family: $font_0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	font-size: 10px;
	height: 100%;
	input[type="button"] {
		cursor: pointer;
	}
	input[disabled] {
		cursor: default;
	}
}
body {
	margin: 0;
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	font: 1.6rem/3rem $font_2, $font_0;
	background: $color_bunker_approx;
	color: $color_dove_gray_approx;
	height: 100%;
  visibility:hidden;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin: 1em 40px;
	margin-bottom: 3rem;
}
footer {
	display: block;
}
header {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 700;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.4s ease-in-out;
	.row {
		height: auto;
		position: relative;
	}
	&.menu-is-open {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-260px);
	}
	.logo {
		position: absolute;
		left: 26px;
		top: 0;
		margin-top: 78px;
		a {
			display: block;
			margin: 0;
			padding: 0;
			outline: 0;
			border: none;
			width: 282px;
			height: 72px;
			background: url($logo) no-repeat center;
			background-size: 282px 72px;
			font: 0/0 a;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			color: transparent;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.5s ease-in-out;
		}
    a:hover {
      background-image: url($logohover);
    }
	}
}
hgroup {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
	vertical-align: baseline;
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
canvas {
	display: inline-block;
	vertical-align: baseline;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
video {
	display: inline-block;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background: transparent;
	text-decoration: none;
	line-height: inherit;
	color: $vsblue;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:active {
		outline: 0;
	}
	&:hover {
		outline: 0;
    text-shadow: 1px 1px 3px $vsblue
		//color: $white !important;
	}
	img {
		border: none;
	}
	&:visited {
		color: $vsblue;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease-in-out;
	}
	&:focus {
		color: $color_shingle_fawn_approx;
	}
}
abbr[title] {
	border-bottom: 1px dotted;
	border-bottom: 1px dotted;
	cursor: help;
}
b {
	font-weight: bold;
	@extend %extend_5;
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
strong {
	font-weight: bold;
	@extend %extend_5;
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
mark {
	background: $color_picasso_approx;
	color: $black;
}
small {
	font-size: 1.1rem;
	line-height: inherit;
}
sub {
	@extend %extend_1;
	bottom: -0.25em;
}
sup {
	@extend %extend_1;
	top: -0.5em;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
	&.pull-right {
		margin: 1.5rem 0 0 3rem;
	}
	&.pull-left {
		margin: 1.5rem 3rem 0 0;
	}
}
hr {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	border: solid $color_quill_gray_approx;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}
pre {
	overflow: auto;
	padding: 2.4rem 3rem 3rem;
	background: $seashell;
	font: 1em $font_1, $font_1;
	margin: 0;
	padding: 0;
	font-family: $font_4, $font_5, $font_6, $font_7, $font_1;
	margin-bottom: 3rem;
	> code {
		display: block;
		white-space: pre;
		line-height: 2;
		padding: 0;
		margin: 0;
	}
	&.prettyprint > code {
		border: none;
	}
}
code {
	font: 1em $font_1, $font_1;
	font-family: $font_4, $font_5, $font_6, $font_7, $font_1;
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: $seashell;
	border: 1px solid $color_bon_jour_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
}
kbd {
	font: 1em $font_1, $font_1;
	font-family: $font_4, $font_5, $font_6, $font_7, $font_1;
}
samp {
	font: 1em $font_1, $font_1;
	font-family: $font_4, $font_5, $font_6, $font_7, $font_1;
}
button {
	@extend %extend_2;
	overflow: visible;
	text-transform: none;
	cursor: pointer;
	margin-bottom: 1.2;
}
input {
	@extend %extend_2;
	line-height: normal;
	margin-bottom: 3rem;
}
optgroup {
	@extend %extend_2;
	font-weight: bold;
}
select {
	@extend %extend_2;
	text-transform: none;
	margin-bottom: 3rem;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
textarea {
	@extend %extend_2;
	overflow: auto;
	/*min-height: 25rem;*/
	appearance: none;
	margin-bottom: 3rem;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="reset"] {
	cursor: pointer;
}
input[type="submit"] {
	cursor: pointer;
}
button[disabled] {
	cursor: default;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="checkbox"] {
	@extend %extend_3;
}
input[type="radio"] {
	@extend %extend_3;
}
input[type="number"]::-webkit-inner-spin-button {
	height: auto;
}
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="search"]::-webkit-search-cancel-button {
}
input[type="search"]::-webkit-search-decoration {
}
fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 1.5rem;
	border: none;
}
legend {
	border: 0;
	padding: 0;
	font: 700 1.4rem $font_2, $font_0;
	margin-bottom: .6rem;
	color: $color_masala_approx;
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 3rem;
}
td {
	padding: 0;
	margin: 0;
	padding: 0;
}
th {
	padding: 0;
	margin: 0;
	padding: 0;
}
* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: inherit;
}
*::before {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: inherit;
}
*::after {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: inherit;
}
div {
	margin: 0;
	padding: 0;
}
dl {
	margin: 0;
	padding: 0;
	margin-bottom: 3rem;
}
dt {
	margin: 0;
	padding: 0;
	margin: 0;
	color: $color_shingle_fawn_approx;
}
dd {
	margin: 0;
	padding: 0;
	margin: 0 0 0 2rem;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 1.7rem;
	list-style: disc;
	margin-bottom: 3rem;
	li {
		padding-left: .4rem;
	}
	ul {
		margin: .6rem 0 .6rem 1.7rem;
	}
	ol {
		margin: .6rem 0 .6rem 1.7rem;
	}
	&.disc {
		li {
			display: list-item;
			list-style: none;
			padding: 0 0 0 .8rem;
			position: relative;
		}
		li::before {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			background: $color_shingle_fawn_approx;
			position: absolute;
			left: -17px;
			top: 11px;
			vertical-align: middle;
		}
	}
}
ol {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 1.7rem;
	list-style: decimal;
	margin-bottom: 3rem;
	ol {
		margin: .6rem 0 .6rem 1.7rem;
	}
	ul {
		margin: .6rem 0 .6rem 1.7rem;
	}
}
li {
	margin: 0;
	padding: 0;
	display: list-item;
}
h2 {
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-size: 2.4rem;
	line-height: 1.25;
}
h3 {
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	margin-bottom: 1.8rem;
	font-size: 2rem;
	line-height: 1.5;
}
h4 {
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	margin-bottom: 1.8rem;
	font-size: 1.7rem;
	line-height: 1.76;
}
h5 {
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-family: $font_2, $font_0;
	font-weight: 900;
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6 {
	margin: 0;
	padding: 0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-family: $font_2, $font_0;
	font-weight: 900;
	margin-bottom: 1.2rem;
	font-size: 1.3rem;
	line-height: 1.85;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
form {
	margin: 0;
	padding: 0;
	margin-bottom: 3rem;
}
p {
	margin: 0;
	padding: 0;
	margin-bottom: 3rem;
	img {
		margin: 0;
	}
	&.lead {
		font: 300 1.8rem/1.8 "Source Code Pro", sans-serif;
		color: $color_dove_gray_approx;
	}
}
blockquote {
	margin: 0;
	padding: 0;
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
	margin-bottom: 3rem;
	&:before {
		font: 8rem/0px $font_3, $font_0;
		content: "\201C";
		margin: 0;
		color: $color_mine_shaft_approx;
		position: absolute;
		top: 3rem;
		left: 0;
	}
	p {
		font: italic 1.9rem/1.75 georgia, serif;
		padding: 0;
	}
	cite {
		display: block;
		font-size: 1.2rem;
		font-style: normal;
		line-height: 1.65;
		&:before {
			content: "\2014 \0020";
		}
		a {
			color: $color_suva_gray_approx;
			border: none;
			&:visited {
				color: $color_suva_gray_approx;
				border: none;
			}
		}
	}
}
em {
	@extend %extend_4;
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
i {
	@extend %extend_4;
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
input[type="email"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="number"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="text"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="tel"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="url"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
input[type="password"] {
	appearance: none;
	font: 400 1.5rem/3rem $font_2, $font_0;
	display: block;
	height: 6rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: $white_80;
	max-width: 100%;
	background: transparent;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	&:focus {
		color: $white;
	}
}
.row {
	width: 94%;
	max-width: 1170px;
	margin: 0 auto;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.row {
		width: auto;
		max-width: none;
		margin-left: -20px;
		margin-right: -20px;
	}
}
[class*="col-"] {
	float: left;
	padding: 0 20px;
	+ [class*="col-"].end {
		float: right;
	}
}
.bgrid {
	float: left;
}
.col-one {
	width: 8.33333%;
}
.col-two {
	width: 16.66667%;
}
.col-1-6 {
	width: 16.66667%;
}
.col-three {
	width: 25%;
}
.col-1-4 {
	width: 25%;
}
.col-four {
	width: 33.33333%;
}
.col-1-3 {
	width: 33.33333%;
}
.col-five {
	width: 41.66667%;
}
.col-six {
	width: 50%;
}
.col-1-2 {
	width: 50%;
}
.col-seven {
	width: 58.33333%;
}
.col-eight {
	width: 66.66667%;
}
.col-2-3 {
	width: 66.66667%;
}
.col-nine {
	width: 75%;
}
.col-3-4 {
	width: 75%;
}
.col-ten {
	width: 83.33333%;
}
.col-5-6 {
	width: 83.33333%;
}
.col-eleven {
	width: 91.66667%;
}
.col-twelve {
	width: 100%;
}
.col-full {
	width: 100%;
}
@media screen and(max-width:1024px) {
	[class*="col-"] {
		padding: 0 18px;
	}
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}
	.block-s-1-6 .bgrid {
		width: 16.66667%;
		&:nth-child(6n + 1) {
			clear: both;
		}
	}
	.block-s-1-4 .bgrid {
		width: 25%;
		&:nth-child(4n + 1) {
			clear: both;
		}
	}
	.block-s-1-3 .bgrid {
		width: 33.33333%;
		&:nth-child(3n + 1) {
			clear: both;
		}
	}
	.block-s-1-2 .bgrid {
		width: 50%;
		&:nth-child(2n + 1) {
			clear: both;
		}
	}
	.block-s-full .bgrid {
		width: 100%;
		clear: both;
	}
	[class*="block-s-"] .bgrid:nth-child(n) {
		clear: none;
	}
}
@media screen and(max-width:768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
		.row {
			padding-left: 0;
			padding-right: 0;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	[class*="col-"] {
		padding: 0 15px;
	}
	.tab-1-4 {
		width: 25%;
	}
	.tab-1-3 {
		width: 33.33333%;
	}
	.tab-1-2 {
		width: 50%;
	}
	.tab-2-3 {
		width: 66.66667%;
	}
	.tab-3-4 {
		width: 75%;
	}
	.tab-full {
		width: 100%;
	}
	.block-tab-1-6 .bgrid {
		width: 16.66667%;
		&:nth-child(6n + 1) {
			clear: both;
		}
	}
	.block-tab-1-4 .bgrid {
		width: 25%;
		&:nth-child(4n + 1) {
			clear: both;
		}
	}
	.block-tab-1-3 .bgrid {
		width: 33.33333%;
		&:nth-child(3n + 1) {
			clear: both;
		}
	}
	.block-tab-1-2 .bgrid {
		width: 50%;
		&:nth-child(2n + 1) {
			clear: both;
		}
	}
	.block-tab-full .bgrid {
		width: 100%;
		clear: both;
	}
	[class*="block-tab-"] .bgrid:nth-child(n) {
		clear: none;
	}
}
@media screen and(max-width:600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
		.row {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	[class*="col-"] {
		padding: 0 10px;
	}
	.mob-1-4 {
		width: 25%;
	}
	.mob-1-2 {
		width: 50%;
	}
	.mob-3-4 {
		width: 75%;
	}
	.mob-full {
		width: 100%;
	}
	.block-mob-1-6 .bgrid {
		width: 16.66667%;
		&:nth-child(6n + 1) {
			clear: both;
		}
	}
	.block-mob-1-4 .bgrid {
		width: 25%;
		&:nth-child(4n + 1) {
			clear: both;
		}
	}
	.block-mob-1-3 .bgrid {
		width: 33.33333%;
		&:nth-child(3n + 1) {
			clear: both;
		}
	}
	.block-mob-1-2 .bgrid {
		width: 50%;
		&:nth-child(2n + 1) {
			clear: both;
		}
	}
	.block-mob-full .bgrid {
		width: 100%;
		clear: both;
	}
	[class*="block-mob-"] .bgrid:nth-child(n) {
		clear: none;
	}
}
@media screen and(max-width:400px) {
	[class*="col-"] {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		+ [class*="col-"].end {
			float: none;
		}
	}
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.stack .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}
}
[class*="block-"] {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.group {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.antialiased {
}
.overflow-hidden {
	overflow: hidden;
}
.remove-bottom {
	margin-bottom: 0;
}
.half-bottom {
	margin-bottom: 1.5rem !important;
}
.add-bottom {
	margin-bottom: 3rem !important;
}
.no-border {
	border: none;
}
.full-width {
	width: 100%;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700,900);
@media only screen and(max-width:1024px) {
	html {
		font-size: 9.375px;
	}
	header .logo {
		left: 24px;
		margin-top: 60px;
		a {
			width: 247px;
			height: 63px;
			background-size: 247px 63px;
		}
	}
	.main-content h1 {
		font-size: 8.6rem;
	}
  #tbservers {
    width:180px;
    height:115px;
  }
}
@media only screen and(max-width:768px) {
	html {
		font-size: 10px;
	}
	#main-error-content {
		.social-links {
			text-align: left;
			ul {
				font-size: 2.8rem;
			}
			li:first-child {
				padding-left: 0;
			}
		}
		.bottom-links .links {
			font-size: 1.6rem;
		}
	}
	p.lead {
		font-size: 1.7rem;
	}
	header .logo {
		left: 51px;
		margin-top: 48px;
		a {
			width: 235px;
			height: 60px;
			background-size: 235px 60px;
		}
	}
	.main-content h1 {
		font-size: 7.2rem;
	}
  #tbservers {
    width:160px;
    height:103px;
  }
}
@media only screen and(max-width:400px) {
	html {
		font-size: 9.375px;
	}
	header .logo {
		left: 28px;
		margin-top: 19px;
		a {
			width: 165px;
			height: 42px;
			background-size: 165px 42px;
		}
	}
	.main-content h1 {
		font-size: 5.5rem;
	}
	#main-error-content .social-links ul {
		font-size: 2.6rem;
	}
  #tbservers {
    width:140px;
    height:90px;
  }
}
.h01 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
.h02 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-size: 2.4rem;
	line-height: 1.25;
}
.h03 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	margin-bottom: 1.8rem;
	font-size: 2rem;
	line-height: 1.5;
}
.h04 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	margin-bottom: 1.8rem;
	font-size: 1.7rem;
	line-height: 1.76;
}
.h05 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-family: $font_2, $font_0;
	font-weight: 900;
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
.h06 {
	font-family: $font_2, $font_0;
	color: $white;
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
	font-family: $font_2, $font_0;
	font-weight: 900;
	margin-bottom: 1.2rem;
	font-size: 1.3rem;
	line-height: 1.85;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
@media only screen and(max-width:600px) {
	h1 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
	.h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
	header .logo {
		left: 41px;
		a {
			width: 212px;
			height: 54px;
			background-size: 212px 54px;
		}
	}
	.main-content h1 {
		font-size: 6.2rem;
    top:-80px;
	}
}
abbr {
	font-family: $font_2, $font_0;
	font-weight: 700;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: $color_suva_gray_approx;
}
var {
	font-family: $font_4, $font_5, $font_6, $font_7, $font_1;
}
del {
	text-decoration: line-through;
}
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
.button {
	margin-bottom: 1.2;
}
.fluid-video-wrapper {
	margin-bottom: 3rem;
}
.ss-custom-select {
	margin-bottom: 3rem;
	position: relative;
	padding: 0;
	select {
		appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		margin: 0;
		line-height: 3rem;
		vertical-align: middle;
		option {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	select::-ms-expand {
		display: none;
	}
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $color_black_approx;
	z-index: 800;
	height: 100%;
	width: 100%;
}
.oldie {
	#preloader {
		display: none;
	}
	.ss-custom-select::after {
		display: none;
	}
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
	&:before {
		content: "";
		border-top: 11px solid $vsblue;
		border-right: 11px solid $vsblue;
		border-bottom: 11px solid $vsblue;
		border-left: 11px solid $vsblue_shade;
		animation: load 1.1s infinite linear;
		display: block;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		width: 50px;
		height: 50px;
  }
  &:after {
    content: ' ';
    display:block;
    background: url($logo);
    background-size: contain;
    background-repeat: no-repeat;
    width:282px;
    height:72px;
    position:relative;
    top:-68px;
    left:-106px;
  }
}
@-webkit-keyframes load {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}
@keyframes load {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}
.ss-custom-select::after {
	font: 18px/20px $font_8;
	content: '\f0d7';
	position: absolute;
	top: 50%;
	right: 1.5rem;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	text-align: center;
	pointer-events: none;
	color: $color_shark_approx;
}
label {
	font: 700 1.4rem $font_2, $font_0;
	margin-bottom: .6rem;
	color: $color_masala_approx;
	display: block;
	> input[type="checkbox"] {
		margin: 0;
		position: relative;
		top: .15rem;
	}
	> input[type="radio"] {
		margin: 0;
		position: relative;
		top: .15rem;
	}
	> .label-text {
		display: inline-block;
		margin-left: 1rem;
		font-family: $font_2, $font_0;
		font-weight: 400;
		line-height: inherit;
	}
}
::-webkit-input-placeholder {
	color: $color_star_dust_approx;
}
:-moz-placeholder {
	color: $color_star_dust_approx;
}
::-moz-placeholder {
	color: $color_star_dust_approx;
}
:-ms-input-placeholder {
	color: $color_star_dust_approx;
}
.placeholder {
	color: $color_star_dust_approx !important;
}
.menu-toggle {
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-top: 20px;
	display: block;
	outline: 0;
	position: relative;
	span {
		background: $white;
		display: block;
		width: 24px;
		height: 3px;
		margin-top: -1.5px;
		font: 0/0 a;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		color: transparent;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: background 0.2s ease-in-out;
	}
	span::before {
		background: inherit;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 0.2s, 0.2s;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: 0.2s, 0s;
		top: -8px;
		//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: top, transform;
	}
	span::after {
		background: inherit;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 0.2s, 0.2s;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: 0.2s, 0s;
		bottom: -8px;
		//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: bottom, transform;
	}
	&.is-clicked {
		span {
			background: rgba(255, 255, 255, 0);
		}
		span::before {
			background: $white;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 0s, 0.2s;
			top: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(45deg);
		}
		span::after {
			background: $white;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 0s, 0.2s;
			bottom: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-45deg);
		}
	}
}
#menu-nav-wrap {
	font: 400 1.5rem/2.7rem $font_2, $font_0;
	background: $color_woodsmoke_approx;
	color: $white_30;
	padding: 3.6rem 3rem;
	height: 100%;
	width: 260px;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 500;
	overflow-y: auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s 0s, visibility 0s .4s;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateX(80px);
	&.menu-is-open {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(0);
		visibility: visible;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform .4s 0s, visibility 0s 0s;
	}
	h5 {
		font: 900 1.25rem/1.85 "Source Code Pro", sans-serif;
		margin-bottom: 1.5rem;
		letter-spacing: .2rem;
	}
	.nav-list {
		margin: 1.8rem 0 0 0;
		padding: 0 0 3rem 0;
		list-style: none;
		line-height: 4.2rem;
		li {
			padding-left: 0;
			border-bottom: 1px solid $white_3;
			&:first-child {
				border-top: 1px solid $white_3;
			}
			a {
				color: $white_30;
				&:hover {
					color: $white;
				}
				&:focus {
					color: $white;
				}
			}
		}
	}
}
#main-error-content {
	background: $color_bunker_approx;
	width: 100%;
	height: 100%;
	min-height: 720px;
	z-index: 600;
	position: relative;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.4s ease-in-out;
	&.menu-is-open {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-260px);
	}
	&.main-content-slides {
		height: 100% !important;
	}
	&.main-content-particle-js {
		background: $color_black_approx;
		overflow: hidden;
		.pg-canvas {
			position: absolute;
			top: 0;
			left: 0;
			height: 100% !important;
			width: 100% !important;
			opacity: .15;
		}
		.shadow-overlay {
			display: none;
		}
	}
	footer {
		position: absolute;
		width: 100%;
		min-height: 12rem;
		bottom: 0;
		left: 0;
		z-index: 700;
	}
	.social-links {
		text-align: right;
		margin-bottom: 3rem;
		ul {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 3rem;
			li {
				display: inline-block;
				padding: 0 .9rem;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	.bottom-links {
		.links {
			font: 700 1.7rem $font_2, $font_0;
			display: block;
			list-style: none;
			margin: 0 0 .9rem 0;
			padding: 0;
			&:before {
				content: "";
				display: table;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		li {
			float: left;
			padding: 0 1.2rem;
			&:first-child {
				padding-left: 0;
			}
		}
		.credits {
			font-size: 1.4rem;
			line-height: 3rem;
			color: $white_20;
			a {
				color: $white_40;
				display: inline-block;
				border-bottom: 1px dotted $white_10;
				&:hover {
					color: $white;
				}
				&:focus {
					color: $white;
				}
				&:visited {
					color: $white_40;
				}
			}
		}
	}
}
.content-wrap {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
	background: linear-gradient(to right, $black 0, $black 20%, transparent 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}
.main-content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 700;
	h1 {
		font: 700 9.4rem/1 "Source Code Pro", sans-serif;
		text-transform: uppercase;
		letter-spacing: -.2rem;
		margin-bottom: 1.2rem;
		padding-top: 2.4rem;
		position: relative;
	}
	h1::before {
		content: "";
		display: block;
		background: $vsblue;
		width: 120px;
		height: 3px;
		position: absolute;
		top: 0;
		left: 9px;
	}
	.char3 {
		left: -0.01em;
	}
	.char7 {
		left: -0.013em;
	}
	.char8 {
		left: -0.04em;
	}
	.char9 {
		left: -0.052em;
	}
	.char10 {
		left: -0.038em;
	}
	p {
		font: 300 1.8rem $font_2, $font_0;
		color: $white_30;
		max-width: 680px;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 5px $black_50;
	}
	.kern-this [class*="char"] {
		position: relative;
	}
	.search form {
		max-width: 360px;
		margin: 3rem 0 1.2rem;
		input[type="text"] {
			background: $white_10;
			width: 100%;
		}
	}
}
@media only screen and(max-width:380px) {
	.main-content h1 {
		font-size: 5.2rem;
    top:-120px;
	}
}
svg:not(:root) {
	overflow: hidden;
}
.block-1-6 .bgrid {
	width: 16.66667%;
	&:nth-child(6n + 1) {
		clear: both;
	}
}
.block-1-4 .bgrid {
	width: 25%;
	&:nth-child(4n + 1) {
		clear: both;
	}
}
.block-1-3 .bgrid {
	width: 33.33333%;
	&:nth-child(3n + 1) {
		clear: both;
	}
}
.block-1-2 .bgrid {
	width: 50%;
	&:nth-child(2n + 1) {
		clear: both;
	}
}
.no-js #preloader {
	display: none;
}
